{% extends "d3b_generic_chart.html" %}

{% block serviceresult %}


<script>
var ctaxlist = [];
function addcustomtax( val )
{
	if ( ctaxlist.indexOf( val ) == -1 ) 
	{
		ctaxlist.push( val );
		document.getElementById( "id_spcustom" ).value = JSON.stringify( ctaxlist );
	}
}
function removecustomtax( val )
{
	var cind = ctaxlist.indexOf( val );
	if ( cind != -1 ) 
	{
		ctaxlist.splice( cind, 1 );
		document.getElementById( "id_spcustom" ).value = JSON.stringify( ctaxlist );
	}
}
</script>


{{ result | safe }}

{% endblock %}
