{% extends "d3b_generic.html" %}

{% block bodytitle %}
{{ header }}
{% endblock %}

{% block bodycontent %}

<script>
//document.getElementById('upload_file').addEventListener('change', handleFileSelect, false);

function setuploadname( evt ) 
{
    var files = evt.target.files; 

	var dname = document.getElementById( "id_name" );
	if ( dname.value.length > 0 ) return;

	for (var i = 0, f; f = files[i]; i++) 
	{
		fname = files[i].name;
		dname.value = fname.substring( 0, fname.lastIndexOf('.') );
    }
}


</script>

<form action="/" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<script>
document.getElementById('id_file').addEventListener('change', setuploadname, false);
</script>

<p>
links to test datasets: [ <a href="summary/00000001">osteomyelitis (QIIME)</a> ] [ <a href="summary/00000000">arthritis_euk (custom)</a> ]
{% endblock %}


