{% extends "d3b_generic_form.html" %}

{% block serviceform %}

<script>


function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);
   // Click download link
    downloadLink.click();
}

function exportTableToCSV(filename) {
    var csv = [];
    var table = document.getElementById( "restable" );
    var rows = table.querySelectorAll( "tr" );
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll( "td" );
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join("\t"));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

function exportbiom( tasktype )
{
	var task = document.getElementById( "task" );
	task.value = tasktype;
	document.getElementById( "tableform" ).submit();
}
</script>

<form action="/{{service}}/{{ job }}/" method="post" novalidate>
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    <button type="button" onclick="exportTableToCSV( '{{outname}}.tsv')" style="font-size: 85%;">Export to TSV</button><br><br>
</form>



{% endblock %}

{% block serviceresult %}
<style>

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.node circle {
	  fill: #899;
	  stroke: #344;
	  stroke-width: 1px;
	}
</style>
{{ result | safe }}

{% endblock %}
