{% extends "d3b_generic_form.html" %}

{% block serviceform %}

<script>
var tags = {{ tags | safe }};
var volumes = {{ volumes | safe }};
var modified = 0;

function onbeforeunload()
{
	return 'changes are not saved. leave?';
};

function set_modified()
{
	if ( modified == 0 )
	{
		document.body.setAttribute( "onbeforeunload", "return onbeforeunload()" );
		modified = 1;
		var ctname = document.getElementById( "ctmod" );
		ctname.value = "(modified)";
	}
}

function appendtag( ntname0, tagvalues )
{
	var ntname = String( ntname0 ).replace(/^\s+|\s+$/g, '');
	if ( ntname.length == 0 ) return "";
	var tlist = document.getElementById("tlist");
	var newdiv = document.createElement("div");
	newdiv.id = "tag_" + ntname;
	newdiv.style.fontWeight = "bold";
	var tnbd = document.createTextNode( "X" );
    var btnd = document.createElement("BUTTON");	
	btnd.appendChild( tnbd );
	btnd.addEventListener( "click", function() { deletetag( ntname ); } );
	btnd.style.fontSize = "90%";
	newdiv.appendChild( btnd );	
	var tnsp = document.createTextNode( " " );	
	newdiv.appendChild( tnsp );
	var tnb = document.createTextNode( "edit" );
    var btn = document.createElement("BUTTON");	
	btn.appendChild( tnb );
	btn.addEventListener( "click", function() { opentag( ntname ); } );
	btn.style.fontSize = "90%";
	newdiv.appendChild( btn );	
	var tn = document.createTextNode( " " + ntname + " " );	
	newdiv.appendChild( tn );
	tlist.appendChild( newdiv );
	tags[ ntname ] = [];
	for ( i = 0; i < volumes.length; i++ )
	{
		tags[ ntname ].push( tagvalues[i] );
	}
	set_modified();
	return ntname;
}

function addnewtag()
{
	var ntname0 = document.getElementById("tnew").value;
	var tagvalues = [];
	for ( i = 0; i < volumes.length; i++ )
	{
		var cinput = document.getElementById( "i" + volumes[i] );
		tagvalues.push( cinput.value );
	}
	var ntname = appendtag( ntname0, tagvalues );
	if ( ntname.length == 0 ) return;
	var ctname = document.getElementById( "ctname" );
	ctname.value = ntname;
}


function opentag( ctag )
{
	var i = 0;
	for ( i = 0; i < volumes.length; i++ )
	{
		var cinput = document.getElementById( "i" + volumes[i] );
		cinput.value = tags[ ctag ][ i ]
	}
	var ctname = document.getElementById( "ctname" );
	ctname.value = ctag;

}

function deletetag( ctag )
{
	if ( ctag == "name" || ctag == "none" ) return;
	if ( confirm( "Delete tag [" + ctag + "]?" ) != true ) return;
	var ctdiv = document.getElementById( "tag_" + ctag );
	var tlist = document.getElementById("tlist");
	tlist.removeChild( ctdiv )
	delete tags[ ctag ]
	set_modified();
}

function updatecurtag()
{
	var ctname = document.getElementById( "ctname" );
	var ctag = ctname.value;
	if ( ctag == "name" || ctag == "none" ) return;
	var i = 0;
	for ( i = 0; i < volumes.length; i++ )
	{
		var cinput = document.getElementById( "i" + volumes[i] );
		tags[ ctag ][ i ] = cinput.value;
	}
	set_modified();
}

function savetags()
{
	document.body.setAttribute( "onbeforeunload", "" );
	tv = JSON.stringify( tags );
	var jstags = document.getElementById( "jstags" );
	jstags.value = tv;
	document.getElementById( "savetags" ).submit();
}

function downloadTags( filename ) {
	var csv = "";
	var i = 0;
	var j = 0;
	csv += "name\t";
	var tlist = [ "name" ];
	for ( var key in tags )
	{
		if ( key != "name" )
		{
			csv += key + "\t";
			tlist.push( key );
		}
	}
	csv += "\n";
	for ( i = 0; i < volumes.length; i++ )
	{
		for ( j = 0; j < tlist.length; j++ )
		{
			csv += tags[ tlist[j] ][ i ] + "\t";
		}
		csv += "\n";
	}
    var csvFile;
    var downloadLink;
    csvFile = new Blob([csv], {type: "text/csv"});
    downloadLink = document.createElement("a");
    downloadLink.download = filename;
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
}

//document.getElementById('upload_file').addEventListener('change', handleFileSelect, false);

function uploadtags( evt ) 
{
    var files = evt.target.files; 

	var ctname = document.getElementById( "importwarning" );
	var prefix0 = document.getElementById( "tprefix" ).value;
	var prefix = String( prefix0 ).replace(/^\s+|\s+$/g, '');
	if ( prefix.length > 0 ) prefix += "_";

	for (var i = 0, f; f = files[i]; i++) 
	{
		if ( f.size > 5120 ) 
		{
			ctname.value = "file too big (max. 5k)";
			continue;
		}
		var reader = new FileReader();

		reader.onload = ( function(theFile) 
		{
		return function(e) 
		{
			var tstr = e.target.result;
			var tspl = tstr.split( "\n" );
			var tlist = tspl[0].trim().split( "\t" );
			if ( tlist.length < 2 ) 
			{ 
				ctname.value = "possibly wrong file format; tab-delimited CSV required";
				return;
			}
			var ntags = {}
			for ( var k = 1; k < tlist.length; k++ )
			{
				if ( tlist[k] == "name" || tlist[k] == "none" ) continue;
				ntags[ tlist[k] ] = {}
			}
			var empty = 1;
			for ( var j = 1; j < tspl.length; j++ )
			{
				var ctstr = tspl[ j ].trim().split( "\t" );
				var vname = ctstr[ 0 ];
				var vind = volumes.indexOf( vname );
				if ( vind == -1 ) continue;
				for ( var k = 1; k < ctstr.length; k++ )
				{
					if ( tlist[k] == "name" || tlist[k] == "none" ) continue;
					ntags[ tlist[k] ][ vind ] = ctstr[k];
					empty = 0;
				}
			}
			if ( empty == 1 )
			{
				ctname.value = "possibly wrong file";
				return;
			}
			for ( var k = 1; k < tlist.length; k++ )
			{
				if ( tlist[k] == "name" || tlist[k] == "none" ) continue;
				if ( ntags[ tlist[k] ].length == 0 ) continue;
				var tagvalues = [];
				for ( var j = 0; j < volumes.length; j++ )
				{
					if ( j in ntags[ tlist[k] ] )
					{
						tagvalues.push( ntags[ tlist[k] ][ j ] )
					}
					else tagvalues.push( "" );
				}
				appendtag( prefix + tlist[k], tagvalues );
			}
		};
		})(f);

		reader.readAsText( f );
    }
}


</script>

<div class="description">
Define subsets of samples 
(as tag-value pairs)<br><br>
</div>

<table><tr><td width="300" valign="top" id="tlist">
<i>Defined tags:</i><br><br>
<div id="tag_none" style="font-weight: bold;">
<button type="button" onclick="deletetag('none')" style="font-size: 90%;color:#999;">X</button> 
<button type="button" onclick="opentag('none')" style="font-size: 90%;">view</button> 
none
</div>
<div id="tag_name" style="font-weight: bold;">
<button type="button" onclick="deletetag('name')" style="font-size: 90%;color:#999;">X</button> 
<button type="button" onclick="opentag('name')" style="font-size: 90%;">view</button> 
name
</div>
{% for ctag in ptkeys %}
	<div id="tag_{{ctag}}" style="font-weight: bold;">
	<button type="button" onclick="deletetag('{{ctag}}')" style="font-size: 90%;">X</button> 
	<button type="button" onclick="opentag('{{ctag}}')" style="font-size: 90%;">edit</button> 
	{{ ctag }}
	</div>
{% endfor %}
{{ form.as_p }}
<td valign="top">

Selected tag: <input type=text id="ctname" name="ctname" value="name" readonly class="taginputlabel"><br><br>
<i>Values for the tag:</i><br><br>
<table>
<tr><td><i>sample</i></td><td><i>value</i></td></tr>
{% for cvolume in pvolumes %}
	<tr><td>{{ cvolume }}</td><td><input type=text class="taginput" id="i{{ cvolume }}" name="{{ cvolume }}" value="{{ cvolume }}"></td><tr>
{% endfor %}
</table><br>
<button type="button" onclick="updatecurtag()" style="font-size: 90%;">Update values</button><br>
<br>
</table>
New tag name <input type=text id="tnew" name="tnew" class="taginput"> 
<button type="button" onclick="addnewtag()" style="font-size: 90%;">Add new tag</button><br><br><br>   
<form id="importtags" method="post" action="/d3b_job/tags" enctype="multipart/form-data" >
	Import tags: 
	<input id="upload_file" name="upload[file]" size="30" type="file"/><br><br>
	<input id="tprefix" name="tprefix" type="text" class="taginput" value="" size="10"> prefix for imported tags (optional)<br>
	<input type=text id="importwarning" name="ctname" value="" readonly class="tagmodlabel" size="50"><br>
</form>

<form  id="savetags" action="/tags/{{ job }}/" method="post" novalidate>
    {% csrf_token %} 
<input name="jstags" id="jstags" type="hidden" value="" >
<button type="button" onclick="savetags()" class="submitbutton"><b>Save changes</b></button> 
<button type="button" onclick="downloadTags( '{{ title }}_tags.csv' )" class="auxbutton"">Download tags as CSV</button><br>
<input type=text id="ctmod" name="ctname" value="" readonly class="tagmodlabel"><br><br>
</form>
<br>
</table><br>
<script>
document.getElementById('upload_file').addEventListener('change', uploadtags, false);
</script>

{% endblock %}

